body {
    font-family: Arial, sans-serif;
}

.btn-open {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 600px;
    max-width: 90%;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input:invalid {
    color: brown;
    font-weight: 700;
}

.how-old:in-range {
    border-color: blueviolet;
}

.how-old:out-of-range {
    border-color: red;
}

.checkbox:checked + .okay {
  color: #2196f3;
}